
body {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/payment_bg_lg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

#nav,a {
    color: white;
    margin: 0.6rem;
    display: flex;
    justify-content: space-between;
    font-family: "Lucida Console", Courier, monospace;
    text-decoration: none;
    font-size: 16px;
}


a:hover, a:focus {
    color: black;
    font-size:20px;
  }

#content {
    padding: 60px 0;
    margin: 0 auto;
    width: 600px;
  }
.body-text {
  padding: 0 20px 30px 20px;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 1em;
  color: white;
  line-height: 1.2em;
  font-size: 18px;
  text-align: center;
}

.form-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  background-color: #6FB7E9;
  width: 100%;
  display: flex;

}
.personal-information {
  background-color: #3C8DC5;
  color: #fff;
  padding: 1px 0;
  text-align: center;
}
h1 {
  font-size: 1.3em;
  font-family: "Lucida Console", Courier, monospace;
}
input {
  margin: 1px 0;
  padding-left: 3%;
  font-size: 14px;
}
input[type="text"]{
  display: block;
  height: 50px;
  width: 96%;

}
input[type="email"]{
  display: block;
  height: 50px;
  width: 96%;
}
input[type="submit"]{
  display: block;
  height: 60px;
  width: 100%;
  border: none;
  background-color: #3C8DC5;
  color: #fff;
  margin-top: 2px;
  curson: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Lucida Console", Courier, monospace;
}
input[type="submit"]:hover{
  background-color: #6FB7E9;
  transition: 0.3s ease;
}
#column-left {
  width: 46%;
  float: left;
  margin-bottom: 2px;
}
#column-right {
  width: 46%;
  float: right;
}

@media only screen and (max-width: 480px){
  body {
    width: 96%;
    margin: 0 auto;
  }
  .form-container {
    margin: 0 2%;
  }
  input {
    font-size: 1em;
  }
  #input-button {
    width: 96%;
  }
  #input-field {
    width: 96%;
  }
  h1 {
    font-size: 1.2em;
  }
  input {
    margin: 2px 0;
  }
  input[type="submit"]{
    height: 50px;
  }
  #column-left {
    width: 96.5%;
    display: block;
    float: none;
  }
  #column-right {
    width: 96.5%;
    display: block;
    float: none;
  }
}
